.myfooter {
  background-color: white;
  width: 95vw;
  height: 10vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border:none;
  border-radius: 5px;
  position: fixed;
  bottom: 0px;
}

.FooterProfilePicture {
  border: none;
  border-radius: 50%;
  width: 5.3vw;
  height: 5.3vw;
  background-color: rgb(131, 83, 83);
}