/* font */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Pacifico&display=swap');


body {
  background-color: rgb(255, 255, 255);
  text-align: center;
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}